@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:700');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1920px;
    margin: 0 auto;

}
.clearfix{
    clear: both;
}
header{
    padding-left: 376px;
    padding-right: 374px;
    padding-top: 40px;
}
.logo{
    float: left;
    margin-right: 215px;
}
.navigation{
    float: left;
    margin-right: 48px;
}
.navigation li{
    list-style-type: none;
    display: inline-block;
    height: 30px;
    margin-right: 15px;
}
.navigation li a{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 28px;
    text-decoration: none;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;

}
.navigation li a:hover{
    color:  #c7b29a;
}

.icon{
    float: left;
}
.icon li{
    list-style-type: none;
    display: inline-block;
    margin-right: 28px;
}


.slider{
    height: 1024px;
    width: 100%;
    background: url("img/photo.jpg") no-repeat bottom;
    background-size: cover;
    margin-top: -100px;
}


.navigation-main{
    padding: 80px 376px 80px 378px;
}
.navigation-main li{
    width: 266px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid #f1eee9;

}
.navigation-main a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;

}
.navigation-main a p{
    font-family: Montserrat, sans-serif;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 33px;
}
.navigation-main a .caption{
    font-family: Raleway, sans-serif;
    color:  #555555;
    font-size: 22px;
    font-weight: 600;
    margin-top: 29px;
    margin-bottom: 19px;
}
.navigation-main a:hover .caption{
    font-family: Raleway, sans-serif;
    color:  #c7b299;
    font-size: 22px;
    font-weight: 600;
}

.navigation-main li:hover{
    border-bottom: 3px solid #c7b299;
}
li.selected-nav-main {
    border-bottom: 3px solid #c7b299;
}
li.selected-nav-main .caption{
    color:  #c7b299;
}

.waxom-realization{
    height: 600px;
    background-color:  #fbfaf8;
    text-align: center;
    padding: 83px 583px 0 580px;
    position: relative;
    z-index: -2;

}
.caption-section{
    font-family: Raleway, sans-serif;;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px;
}
.waxom-realization .caption-declaration,
.latest-projects .caption-declaration{
    font-family: Montserrat, sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;

    margin-bottom: 40px;
}

.waxom-realization .left-image{
    position: absolute;
    left: 346px;
    top: 300px;
    z-index: -1;
}
.waxom-realization .right-image{
    position: absolute;
    left: 806px;
    top: 300px;
    z-index: -1;
}


.wordpress{
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 150px;
}

.latest-projects{
    text-align: center;
}
.latest-projects .head{
    padding: 83px 583px 0 580px;
}

.latest-nav li{
    list-style-type: none;
    display: inline-block;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  rgba(17, 17, 17, 0);
    width: 135px;
    height: 32px;

    margin-bottom: 48px;
}
.latest-nav li a{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 28px;
    text-decoration: none;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;

}
.latest-nav li a:hover {
    border-radius: 3px;
    background-color:  #998675;
    color:  #ffffff;
}

.latest-gallery{
    column-count: 3;
    padding-left: 376px;
    padding-right: 374px;
}
.latest-gallery a{
    display: inline-block;
    background-color:  #fbfaf8;
    margin-bottom: 30px;
    text-decoration: none;
}

.latest-gallery .gall-img-text{
    text-align: left;
    padding: 30px 0 27px 28px;

}
.latest-gallery .gall-img-caption{
    font-family: Raleway, sans-serif;
    color:  #c7b29a;
    font-size: 20px;
    font-weight: 500;
}
.latest-gallery .gall-img-declaration{
    font-family: Montserrat, sans-serif;
    color:  #d1d1d1;
    font-size: 14px;
    font-weight: 300;
}
.latest-gallery a:hover{
    background-color:  #362f2d;
}
.latest-gallery a:hover .gall-img-caption {
    color:  #ffffff;
}
.latest-gallery a:hover .gall-img-declaration{
    color:  #c7b299;
}

.latest-gallery img{
    transform-origin: top;
}
.latest-gallery img:hover{
    transform: scaleY(1.43);
}





